SUPABASE_URL="https://amvpcrebafpjftjlerth.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtdnBjcmViYWZwamZ0amxlcnRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQxMzgxMTgsImV4cCI6MjAyOTcxNDExOH0.zpM_vqO_uv1cXdIgwe3dEw9hwwd1FraYyB4uyD_P5ro"